body {
  font-family: 'Abel';
  font-size: 22px;
  cursor: default;
  color: #4e6e86;
  background-color: #dbcdc1;
}

.layout {
  width: 100%;
  display: grid;
  grid:
    "header"auto "main"1fr "footer"auto;
  gap: 1rem;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.players {
  width: 100%;
  display: grid;
  grid:
    "computer line human"auto / 1fr 1px 1fr;
  gap: 8px;
  grid-auto-flow: row dense;
  text-align: center;
  align-items: center;
}

.computer {
  grid-area: computer;
  margin: 1rem;
}

.human {
  grid-area: human;
  margin: 1rem;
}

.line {
  grid-area: line;
  width: 1px;
  height: 350px;
  border: 1px solid #4e6e86;
  background-color: #4e6e86;
}

#computer,
#human {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

@media screen and (max-width: 1200px) {

  #computer,
  #human {
    flex-direction: column;
    align-items: center;
  }

  .line {
    display: none;
  }
}

h1,
.win,
.score {
  padding: 1rem;
  width: max-content;
  margin: 10px auto;
  font-size: 3rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.rock {
  border: 0;
  width: 200px;
  height: 200px;
  background-image: url('.//images/rock.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  box-shadow: 0 0 5px 5px #888;
}

.paper {
  background: url('.//images/paper.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  border: none;
  box-shadow: 0 0 5px 5px #888;
  border-radius: 25px;

}

.scissors {
  border: 0;
  width: 200px;
  height: 200px;
  background-image: url('./images/scissors.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  box-shadow: 0 0 5px 5px #888;
}

.human>div>* {
  cursor: pointer;

}

.score {
  font-size: 1.5rem;
}

.win {
  padding: 1rem;
  font-size: 3rem;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 140px;
  height: 50px;
  border-width: 1px;
  color: #ffffff;
  font-size: 1.5rem;
  border-color: rgba(134, 102, 78, 1);
  border-radius: 28px;
  box-shadow: inset 0px 1px 0px 0px rgba(134, 102, 78, 1);
  text-shadow: inset 0px 1px 0px rgba(134, 102, 78, 1);
  background: linear-gradient(rgba(134, 102, 78, 1), rgba(195, 124, 70, 1));
  cursor: pointer;
}

button:hover {
  background: linear-gradient(rgba(195, 124, 70, 1), rgba(134, 102, 78, 1));
}